@import 'default';

img {
  border: 0px;
  max-width: 100%;

  /* Useful to give an image some breathing room */
  padding: 1em 0;
}

#structure {
  position: relative;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;

  max-width: 900px;
}

p,.text {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
