
/**************************
 *
 * Syntax highlighting
 *
 * Notes:
 *
 * - For 'Source Code Pro' font, we are not downloading italic fonts. So don't
 * use italics!
 *
 **************************/

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }

table.sourceCode {
  margin: 1.5em 0;
}

td.lineNumbers pre {
  /* Non-td `pre` uses line-height 1.3em and `code` uses font-size 0.9em. So to
   * make line numbers' heights consistent with the code lines, we need a
   * line-height of 1.3/0.95 = 1.368421053em.
   *
   * Use !important! to overwrite the !important in `pre`.
   */
  line-height: 1.368421053em !important;
}

td.lineNumbers {
  font-size: 0.95em;

  margin-left: -8px;
  /* 6px - Makes border-right align as they ought */
  padding: 6px 12px 5px 0;

  text-align: right;
  background-color: none;
  color: #AAAAAA;
  border-right: 8px solid #e5e5e5;
  /* border-right: 2px solid #e5e5e5; */
}
td.sourceCode { padding-left: 1em; }

@media (max-width: 640px) {
  td.lineNumbers {
    padding: 6px 0.5em 5px 0;
    border-right: 2px solid #e5e5e5;
  }
  td.sourceCode { padding-left: 0.25em; }
}

code.sourceCode { }
pre.sourceCode { }
td.nums pre { }
code.sourceCode span.kw { font-weight: 600; } /* Keyword */
code.sourceCode span.dt { } /* Keyword.Type */
code.sourceCode span.dv { } /* Literal.Number.Integer */
code.sourceCode span.bn { } /* Literal.Number.Hex */
code.sourceCode span.fl { } /* Literal.Number.Float */
code.sourceCode span.ch { } /* Literal.String.Char */
code.sourceCode span.st { } /* Literal.String */
code.sourceCode span.co { color: #AAAAAA; } /* Comment */
code.sourceCode span.ot { } /* Comment.Preproc */
code.sourceCode span.al { color: #E43636 } /* Generic.Error */
code.sourceCode span.fu { } /* Name.Function */
code.sourceCode span.re { }
code.sourceCode span.er { color: #a40000; border: 1px solid #ef2929 } /* Error */

