<!DOCTYPE html>
<html>
    <head>
        <title>${title}</title>
        <link rel="stylesheet" href="/stylesheets/default.css" />
    </head>
    <body>
      <div id="structure">
        <div id="header">
          <h1 itemprop="name"><a href="/">Elben Shira</a></h1>
          <span id="navigation">
            <a href="/blog/">Blog</a>
            <a href="/projects/">Projects</a>
            <a href="/photography/">Photography</a>
          </span>
          <hr>
        </div>

        <div id="content">
          ${body}
        </div>
      </div>
    </body>
</html>
